#ignore build, dist, and node-modules directories
dist/
node_modules/

#ignore any other build/dist related files
package-lock.json
yarn.lock
*.log
*.tgz

#ignore any shortcuts and bat files (created locally for convienience)
*.lnk
*.bat
